<div class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-50">
    <!-- Modal Background -->
    <div
      class="absolute top-0 left-0 w-full h-full bg-gray-900 opacity-50"
    ></div>
    <!-- Modal Content -->
    <div
      class="bg-white rounded-lg h-[500px] overflow-scroll shadow-lg w-1/2 md:w-1/3 lg:w-1/2 p-4 mx-2 z-10"
      id="modal"
    >
      <!-- Modal Header -->
      <div class="text-center mb-2 flex justify-center">
        <div class="flex border rounded-lg shadow-md shadow-zinc-500 relative">
      </div>
    </div>
    <!-- Modal Body -->
    <div class="mb-4 relative">
      <button (click)="closeModal()" class="absolute right-[0] top-[-18px] p-1 px-2 rounded-md bg-red-500 active:bg-red-600 text-white">X</button>

      <div>
        <!-- User account information display -->
    <div class="flex flex-col gap-5">
        <div class="flex flex-col gap-2">
            <div class="flex items-center">
                <img class="w-24 h-w-24 rounded-full mr-4" src="{{user.image}}" alt="Profile Image">
                <p class="font-bold text-2xl">{{user.username}}</p>
            </div>
            <label for="upd-img" class="font-semibold text-xl mt-5">Update Image</label>
            <input (change)="onFileSelected($event)" type="file" name="upd-img" id="upd-img" class="">
            <div *ngIf="imageUrl !== ''" class="flex flex-col gap-2 mt-10">
                <img class="w-32 h-w-32 rounded-sm" src="{{imageUrl}}" alt="Profile Image">
            </div>
            
        </div>
        <div class="flex flex-col gap-3">
            <label for="username" class="font-semibold text-xl">Update Username</label>
            <div>
                <input [(ngModel)]="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="username" placeholder="Enter your new username">
            </div>
            <button (click)="submitUserNameImageUpd()" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-fit" type="button">
                Update
                </button>
        </div>
        <hr>
        <div class="mt-8">
            <form>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="current-password">
                    Current Password
                    </label>
                    <input [(ngModel)]="currentPassword" name="currentPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="current-password" type="password" placeholder="Enter your current password">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="new-password">
                    New Password
                    </label>
                    <input [(ngModel)]="newPassword" name="newPassword" (input)="checkPasswordMatch()" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="new-password" type="password" placeholder="Enter your new password">
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 font-bold mb-2" for="confirm-password">
                    Confirm Password
                    </label>
                    <input [(ngModel)]="confirmNewPassword" name="confirmNewPassword" (input)="checkPasswordMatch()" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="confirm-password" type="password" placeholder="Confirm your new password">
                    <p *ngIf="passwordsDoNotMatch" class="text-red-600">Password Does not match.</p>

                </div>
                <div class="flex justify-end">
                    <!-- <a class="text-blue-500 hover:text-blue-700" href="#">Forgot Password?</a> -->
                </div>
                <div>
                    <button (click)="submitPasswordUpd()" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                    Update
                    </button>
                </div>
            </form>
        </div>
    </div>
    
    <!-- Password change form -->
  
        
    <!-- Modal Footer -->
    <div class="text-right">
        <button
          (click)="closeModal()"
          class="text-gray-700 hover:text-gray-900"
        >
          Close
        </button>
      </div>
    </div>
  </div>
  

