
<section class="px-4 py-8 ">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold text-gray-800 mb-4 px-2">Latest Posts</h2>
    <ul class="divide-y divide-gray-300">
      <li *ngFor="let post of postService.posts" class=" bg-gray-100 rounded-md  my-2 h-80">
        <div class="flex items-start  gap-36 w-full">
          <div class="flex w-[60%] pl-5 pt-8">
            <img src="{{post.user?.image}}" alt="User profile image" class="w-24 h-24 rounded-full mr-4">
            <div class="flex flex-col gap-4 max-sm:items-center">
              <div>
                <a routerLink="/posts/{{post.id}}" class="text-xl font-bold text-gray-800 mb-1 hover:text-gray-600">{{post.title}}</a>
                <p class="text-gray-600">by <a routerLink="/users/{{post.user?.id}}" class="font-bold">{{post.user?.username}}</a> on <span class="font-bold">{{post.createdAt }}</span></p>
              </div>
              <div>
                <p class="text-gray-600">{{post.body}}</p>
              </div>
              
            </div>

          </div>
          <app-comment-box (getPosts)="postService.getPosts()" [post]="post" [loggedIn]="loggedIn" [user]="userService.user" class="w-50 "></app-comment-box>
        </div>
      </li>
      <li *ngIf="postService.posts?.length === 0 && postService.posts" class=" bg-gray-100 rounded-md  my-2 h-24 p-5">
        None yet.
      </li>
      <li *ngIf="!postService.posts" class=" bg-gray-100 rounded-md  my-2 h-24 p-5">
        Loading...
      </li>
      
    </ul>
  </div>
</section>
  
