<div class="bg-gray-800">
    <div class="container mx-auto py-12 px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="flex items-center mb-4 sm:mb-0">
          <img src="{{user?.image}}" alt="Profile Picture" class="rounded-full w-36 h-36 mr-4">
          <div>
            <h1 class="text-4xl font-bold text-white">Welcome back, {{user?.username}}!</h1>
            <p class="text-gray-400">Thank you for being apart of our blog since {{user?.createdAt}}</p>
          </div>
        </div>
        <div>
          <button (click)="toggleModal()" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-900 hover:bg-white mt-4 lg:mt-0 mr-4">Create Post</button>
          <button (click)="toggleEditUserModal()" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-900 hover:bg-white mt-4 lg:mt-0 mr-4">Edit Profile</button>
        </div>
      </div>
      <div class="mt-8 sm:flex sm:justify-center">
        <div class="flex flex-col items-center sm:flex-row sm:space-x-8">
          <!-- <a href="#" class="text-gray-300 hover:text-white py-2">My Posts</a>
          <a href="#" class="text-gray-300 hover:text-white py-2">Comments</a>
          <a href="#" class="text-gray-300 hover:text-white py-2">Settings</a> -->
        </div>
      </div>
    </div>
</div>
<app-post-modal *ngIf="showPostModal" (toggleModal)="toggleModal()" [showPostModal]="showPostModal"></app-post-modal>
<app-edit-user *ngIf="showEditUserModal" (toggleModal)="toggleEditUserModal()" [showEditUserModal]="showEditUserModal"></app-edit-user>
<!-- Controller has been added, Get styling done along with logic to capture input from post form and send it to api/posts -->
  